.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #eeeeee;
}

.main-header > img {
    width: 50px;
    height: auto;
}

.journal {
    width: 550px;
    margin: 0px auto;
}

.journal-entry {
    display: flex;
    width: 470px;
    margin: 30px auto;
    gap: 30px;
}

.journal-entry-image {
    width: 125px;
    height: 175px;
    border-radius: 5px;
}

.journal-entry-details {
    height: 175px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    color: #2b283a;
}

.journal-entry-location {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.75rem;
}

.journal-entry-location > img {
    height: 0.75rem;
}

.journal-entry-location > a,
.journal-entry-location > a:hover,
.journal-entry-location > a:active,
.journal-entry-location > a:visited {
    color: #918e9b;
}

.journal-entry-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.journal-entry-date {
    font-size: 0.75rem;
    font-weight: 700;
}

.journal-entry-description {
    line-height: 150%;
    font-size: 0.64rem;
}
